* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
}

.navList {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList li {
    list-style: none;
    padding: 10px 20px;
}

.navList li a {
    text-decoration: none;
    color: white;
}

.navList li a:hover {
    text-decoration: none;
    color: gray;
}

.rightNav {
    width: 50%;
    text-align: right;
}

#search {
    padding: 5px;
    font: 17px;
    border: 2px solid gray;
    border-radius: 5px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('./img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.boxMain {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}