/*
Stripping down some of the default styling
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Styling for the navbar
*/

ul.nav-list {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: bisque;
}

li.nav-list {
    display: inline;
    float: right;
}

a.nav {
    display: block;
    padding: 12px 14px;
    color: #443434;
    text-align: center;
    text-decoration: none;
}

li.home-icon {
    display: inline;
    float: left;
}

li.menu {
    display: none;
}

li.menu div {
    display: block;
    padding: 12px 14px;
}

.int:hover {
    background-color: rgb(255, 209, 153);
}

.int:active {
    background-color: rgb(252, 234, 213);
}

/*
This section has stylying for the main body of the webpage
*/

main {
    margin-top: 30px;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

h2 {
    margin: 40px 0;
}

h3 {
    margin: 20px 0;
}

p.note {
    margin: 30px 0;
    font-size: 0.9em;
    font-weight: bold;
}

div#sidebar {
    display: none;
}

/*
Responsive section starts here.
*/

@media screen and (max-width: 480px) {

    li.home-icon {
        display: block;
        float: left;
    }

    li.nav-list {
        display: none;
        float: none;
    }

    li.menu {
        display: block;
        float: right;
    }

    div#sidebar {
        display: none;
        height: 100vh;
        width: 300px;
        position: fixed;
        right: 0;
        top: 0;
        background-color: bisque;
    }

    i.nav {
        display: block;
        padding: 12px 14px;
        text-align: center;
        text-decoration: none;
    }
}